is/ePubIntegrator/ePubIntegrator/ePubIntegrator/references/ServiceePubCloudReference/ServiceePubCloud2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceePubCloud" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceePubCloud" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLogin" type="xs:double" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContract" nillable="true" type="tns:UserContract" />
  <xs:complexType name="EBookContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBookContract" nillable="true" type="tns:EBookContract" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access" nillable="true" type="tns:ArrayOfAccess" />
      <xs:element minOccurs="0" name="Bookmark" nillable="true" type="tns:ArrayOfBookmark" />
      <xs:element minOccurs="0" name="Favourite" nillable="true" type="tns:ArrayOfFavourite" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastLogin" type="xs:double" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Access" nillable="true" type="tns:Access" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccess" nillable="true" type="tns:ArrayOfAccess" />
  <xs:complexType name="Access">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Access" nillable="true" type="tns:Access" />
  <xs:complexType name="ArrayOfBookmark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bookmark" nillable="true" type="tns:Bookmark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookmark" nillable="true" type="tns:ArrayOfBookmark" />
  <xs:complexType name="Bookmark">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chapter" nillable="true" type="tns:Chapter" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bookmark" nillable="true" type="tns:Bookmark" />
  <xs:complexType name="Chapter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookmark" nillable="true" type="tns:Bookmark" />
      <xs:element minOccurs="0" name="Favourite" nillable="true" type="tns:ArrayOfFavourite" />
      <xs:element minOccurs="0" name="eBook" nillable="true" type="tns:ArrayOfeBook" />
      <xs:element minOccurs="0" name="index" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chapter" nillable="true" type="tns:Chapter" />
  <xs:complexType name="ArrayOfFavourite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Favourite" nillable="true" type="tns:Favourite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavourite" nillable="true" type="tns:ArrayOfFavourite" />
  <xs:complexType name="Favourite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chapter" nillable="true" type="tns:Chapter" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="eBook" nillable="true" type="tns:eBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Favourite" nillable="true" type="tns:Favourite" />
  <xs:complexType name="eBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="Chapter" nillable="true" type="tns:Chapter" />
      <xs:element minOccurs="0" name="Favourite" nillable="true" type="tns:ArrayOfFavourite" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:Language" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="tns:Publisher" />
      <xs:element minOccurs="0" name="folderPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eBook" nillable="true" type="tns:eBook" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="eBook" nillable="true" type="tns:ArrayOfeBook" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfeBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eBook" nillable="true" type="tns:eBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeBook" nillable="true" type="tns:ArrayOfeBook" />
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="eBook" nillable="true" type="tns:ArrayOfeBook" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="eBook" nillable="true" type="tns:ArrayOfeBook" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="Publisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="eBook" nillable="true" type="tns:ArrayOfeBook" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publisher" nillable="true" type="tns:Publisher" />
</xs:schema>